/* ADD BOLD POPPINS FONT */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 12px;
  color: #3c3744;
  font-family: "Poppins", sans-serif;
}

body > * {
  width: 80%;
}

body {
  background-color: #a8c09c;
  padding: 3rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

h1 {
  font-family: "Righteous", cursive;
  font-size: 4rem;
  min-height: 4rem;
  width: max-content;
  text-align: center;
  user-select: none;
  transition: transform cubic-bezier(0.36, 1.21, 0.93, 1.32) 0.1s;
}

main {
  flex: 1;
  max-width: 1000px;
  min-width: 300px;
  max-height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.container {
  min-width: 300px;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
}

.calculator,
.extras {
  border-radius: 20px;
  box-shadow: 8px 4px #3c3744;
  border: 2px solid #3c3744;
}

.calculator {
  background-color: #bed558;
  min-width: 280px;
  height: 100%;
}

.extras {
  background-color: #f3ffb9;
  min-width: 6rem;
  padding: 1.5rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.calculator > * {
  border-radius: 17px;
}

.screen {
  background-color: #bed558;
  height: 20%;
  display: flex;
  align-items: center;
}

.write {
  display: inline-block;
  font-weight: bold;
  font-size: 1.5rem;
  overflow-wrap:break-word;

  max-width: 18rem;
  max-height: 5rem;
  margin-right: 10%;
  margin-left: auto;
}

.write::after {
  background-color: #3c3744;
  content: ".";
  margin-left: 1px;
  border-radius: 2px;

  animation-name: blink;
  animation-iteration-count: infinite;
  animation-duration: 1s;
}

.buttons {
  background-color: #f3ffb9;
  border: 2px solid #3c3744;
  height: 80%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 1rem;
}

.button-row {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.buttons .button {
  flex: 1;
}

.extras .button {
  flex: 0;
  aspect-ratio: 1/1;
}

.button {
  min-height: 4.5rem;
  background-color: #bed558;
  box-shadow: 3px 3px #3c3744;
  border: 2px solid #3c3744;
  border-radius: 10px;
  user-select: none;

  display: flex;
  justify-content: center;
  align-items: center;
  transition: all ease 0.1s;
}

.button-text {
  font-weight: bold;
  font-size: 1.5rem;
}

.button.equals {
  flex: 2;
}

footer {
  min-height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  height: 100%;
  aspect-ratio: 1/1;
  background-color: #3c3744;
  border-radius: 30%;
  display: flex;
  justify-content: center;
  align-items: center;

  transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 0.15s;
}

img {
  max-width: 4rem;
  height: auto;
}

/* Interactivity */

h1:hover {
  transform: rotate(-3deg) scale(1.1);
}

a:hover {
  transform: scale(1.1) rotate(-5deg);
}

a:active {
  transform: scale(1) rotate(-5deg);
}

.button:hover {
  background-color: #f3ffb9;
}

.button:active {
  transform: translate(3px, 3px);
  box-shadow: none;
}

@keyframes blink {
  0% {
    opacity: 1;
  }

  25% {
    opacity: 1;
  }

  26% {
    opacity: 0;
  }

  74% {
    opacity: 0;
  }

  75% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

/* Media queries */

@media (max-width: 500px) {
  body {
    padding: 1rem;
  }

  main {
    max-height: 550px;
  }

  .container {
    flex-direction: column-reverse;
    align-items: center;
  }

  .calculator {
    min-height: 400px;
  }

  .buttons .button {
    min-height: 4rem;
  }

  .extras .button {
    min-height: 3.3rem;
  }

  .extras .button-text,
  .extras .button-text > * {
    font-size: 1rem;
  }

  .extras {
    min-height: 4.5rem;
    max-height: 5rem;
    width: 100%;
    flex-direction: row;
  }
}
