/* ADD BOLD POPPINS FONT */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 12px;
  color: #3c3744;
  font-family: "Poppins", sans-serif;
}

h1 {
  font-family: "Righteous", cursive;
  font-size: 4rem;
  min-height: 4rem;
  text-align: center;
}

.write {
  font-weight: bold;
  font-size: 1.8rem;
  margin-left: auto;
  margin-right: 10%;
}

body {
  background-color: #a8c09c;
  padding: 3rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

body > * {
  width: 80%;
}

main {
  flex: 1;
  background-color: grey;
  max-width: 1000px;
  min-width: 300px;
  max-height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.container {
  min-width: 300px;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
}

.calculator,
.extras {
  border-radius: 20px;
  box-shadow: 8px 4px #3c3744;
  border: 2px solid #3c3744;
}

.calculator {
  background-color: #bed558;
  min-width: 260px;
  height: 100%;
}

.extras {
  background-color: #f3ffb9;
  min-width: 6rem;
  padding: 1.5rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.calculator > * {
  border-radius: 17px;
}

.screen {
  background-color: #bed558;
  height: 20%;
  display: flex;
  align-items: center;
}

.buttons .button {
  flex: 1;
}

.extras .button {
  flex: 0;
  aspect-ratio: 1/1;
}

.buttons {
  background-color: #f3ffb9;
  border: 2px solid #3c3744;
  height: 80%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 1rem;
}

.button-row {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.button {
  min-height: 4rem;
  background-color: #bed558;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-text {
  font-weight: bold;
  font-size: 1.3rem;
}

.button.equals {
  flex: 2;
}

footer {
  min-height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  height: 100%;
  aspect-ratio: 1/1;
  background-color: #3c3744;
  border-radius: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  max-width: 4rem;
  height: auto;
}

@media (max-width: 500px) {
  main {
    max-height: 550px;
  }

  .container {
    flex-direction: column-reverse;
    align-items: center;
  }

  .calculator {
    min-height: 400px;
  }

  .extras {
    min-height: 5rem;
    width: 100%;
    flex-direction: row;
  }
}
