* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 12px;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #a8c09c;
}

h1 {
  font-family: "Righteous", cursive;
}
